[submodule "froth/dependencies/vendor/glfw"]
	path = froth/dependencies/vendor/glfw
	url = git@github.com:glfw/glfw.git
[submodule "froth/dependencies/vendor/glm"]
	path = froth/dependencies/vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "froth/dependencies/vendor/shaderc"]
	path = froth/dependencies/vendor/shaderc
	url = https://github.com/google/shaderc.git
[submodule "froth/dependencies/vendor/SPIRV-Reflect"]
	path = froth/dependencies/vendor/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
